@model Login
@{
    ViewBag.Title = "Log In";
               }

<section class="auth">
    <div class="auth_content">
        <div class="auth_title">
            <h3>!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>
            <h2>Login</h2>
        </div>
        <div class="auth_container">
            @Html.AntiForgeryToken()
            <form asp-action="Login" asp-controller="Auth" method="POST" class="auth_form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.LabelFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "username", required = true })
                @Html.LabelFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
                <input type="submit" value="Log in" class="btn" />
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
   
}
