@model ProductListViewModel

<section class="products">
    <div class="products_content">
        <div class="products_title">
            <h3>Great products</h3>
            <h2>Available Products</h2>
        </div>

        <div class="product_info">
            <div class="product_categories">
                <h3 class="text-center">Browse Categories</h3>
                <vc:navigation-menu />
            </div>

            <div class="products_container">
                @foreach (var prod in Model.Products)
                {

                    <div class="product">
                        <div class="product_image">
                            @if (prod.ProductImage != null)
                            {
                                var base64 = Convert.ToBase64String(prod.ProductImage);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                <img src="@imgSrc" />
                            }
                            else
                            {
                                <img src="~/images/placeholder.png" />
                            }

                            <h3>@prod.Price.ToString("c")</h3>
                        </div>
                        <div class="product_description">
                            <h2> @prod.ProductName</h2>
                            <p> @prod.Description</p>
                        </div>
                    </div>
                }


            </div>
        </div>
        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
             page-url-category="@Model.CurrentCategory" class="mc-page-button">
        </div>
    </div>
</section>


