@model MrsCleanCapstone.Models.ViewModels.BookAppointmentViewModel

<div class="container mt-5 mb-5" id="smartwizard">

    <ul class="nav">
        <li>
            <a class="nav-link" href="#step-1">
                Customer Information
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-2">
                Appointment Information
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-3">
                Additional Options
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-4">
                Select Dates
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="step-1" class="tab-pane" role="tabpanel">
            <h2>Customer Name</h2>
            <div class="form-step-0" role="form">
                <form id="customerForm">
                    <div class="form-group">
                        <label asp-for="@Model.Customer.Name">Name: </label>
                        <input type="text" class="form-control" asp-for="@Model.Customer.Name" name="name" placeholder="Enter name">
                        <span class="text-danger field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Customer.Email">Email: </label>
                        <input type="text" class="form-control" name="email" asp-for="@Model.Customer.Email" placeholder="Enter email">
                        <span class="text-danger field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Customer.PhoneNumber">Phone Number: </label>
                        <input type="text" class="form-control" name="phoneNumber" asp-for="@Model.Customer.PhoneNumber" placeholder="Enter phone number">
                        <span class="text-danger field-validation-valid" data-valmsg-for="phoneNumber" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Customer.Address">Address: </label>
                        <input type="text" class="form-control" name="address" asp-for="@Model.Customer.Address" placeholder="Enter your address">
                        <span class="text-danger field-validation-valid" data-valmsg-for="address" data-valmsg-replace="true"></span>
                    </div>
                </form>
            </div>
        </div>
        <div id="step-2" class="tab-pane" role="tabpanel">
            <h2>Appointment Information </h2>
            <div class="form-step-1" role="form" data-toggle="validator">
                <form id="vehicleForm">
                    <div class="form-group">
                        <label for="vehicles">Add Vehicles: </label>
                        <div class="row">
                            <div class="col-2">
                                <select class="form-control" name="VehicleType" asp-for="@Model.Vehicle.Type"
                                        asp-items="@(new SelectList(Model.VehicleTypes))" placeholder="Type">
                                </select>
                                <span class="text-danger field-validation-valid" data-valmsg-for="VehicleType" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-2">
                                <input class="form-control" name="NumSeats" asp-for="@Model.Vehicle.NumSeats" placeholder="#Seats">
                                <span class="text-danger field-validation-valid" data-valmsg-for="NumSeats" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-2">
                                <select class="form-control" name="ServiceType" asp-for="@Model.Vehicle.ServiceType"
                                        asp-items="@(new SelectList(Model.ServiceTypes))" placeholder="Select service type">
                                </select>
                                <span class="text-danger field-validation-valid" data-valmsg-for="ServiceType" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-5">
                                <input type="text" class="form-control" name="Condition" asp-for="@Model.Vehicle.Condition" placeholder="Enter Vehicle Condition">
                                <span class="text-danger field-validation-valid" data-valmsg-for="Condition" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-1">
                                <button class="btn-success form-control" id="addVehicleBtn">ADD</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <div class="list-group" id="vehicleList" style="height: 40vh; overflow-y: scroll">
                    </div>
                    <p class="alert-danger" id="vehicle-alert">Add at least one vehicle for service</p>
                </div>
            </div>
        </div>
        <div id="step-3" class="tab-pane" role="tabpanel">
            <h2>Additional Information</h2>
            <div class="form-step-2" role="form" data-toggle="validator">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="petsCheckbox">
                    <label class="form-check-label" for="petsCheckbox">
                        Are there any pet hair?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="waterHoseCheckbox">
                    <label class="form-check-label" for="waterHoseCheckbox">
                        Is there any water hose available?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="waterSupplyCheckbox">
                    <label class="form-check-label" for="waterSupplyCheckbox">
                        Is there any water supply connection?
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="outletCheckbox">
                    <label class="form-check-label" for="outletCheckbox">
                        Is there any power outlet available?
                    </label>
                </div>
                <div class="form-group">
                    <h6 class="alert-info">Car must be empty before the arrival</h6>
                    <h6 class="alert-info">To view full checklist upon arrival, visit <a target="_blank" asp-action="CheckList" asp-controller="Home">Checklist</a></h6>
                </div>
            </div>
        </div>
        <div id="step-4" class="tab-pane" role="tabpanel">
            <h2>Select Available Date</h2>
            <div class="form-step-3" role="form" data-toggle="validator">
                <div class="form-group form-inline">
                    Date: <input type="text" class="form-control mr-3" id="datepicker" required>
                    <button id="bookAppt" class="form-control btn-success">Book Now</button>
                    <p class="alert-danger" style="display:none" id="date-alert">Select a date</p>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#datepicker").datepicker();

            // SmartWizard initialize
            $('#smartwizard').smartWizard({
                theme: 'arrows',
                tramsitionEffect: 'fade',
                anchorSettings: {
                    anchorClickable: false, // Enable/Disable anchor navigation
                    enableAllAnchors: false, // Activates all anchors clickable all times
                }
            });

            $("#smartwizard").on("leaveStep", function (e, anchorObject, currentStepNumber, nextStepNumber, stepDirection) {
                console.log(stepDirection);
                if (stepDirection == "forward") {
                    if (currentStepNumber == 0) {
                        $("#customerForm").validate();
                        if ($("#customerForm").valid()) {
                            console.log("Hello");
                            saveCustomerInformation();
                            return true;
                        }
                        return false;
                    } else if (currentStepNumber == 1) {
                        return saveVehicleInformation();
                    } else if (currentStepNumber == 2) {
                        saveAdditionalInformation()
                    }
                } else if (stepDirection == "backward") {
                    if (currentStepNumber == 1) {
                        sessionStorage.removeItem("Customer");
                    } else if (currentStepNumber == 2) {
                        sessionStorage.removeItem("Vehicles");
                    } else if (currentStepNumber == 3) {
                        sessionStorage.removeItem("Additional");
                    }
                }


            });

            let saveAdditionalInformation = () => {
                var AnyPetHair = $("#petsCheckbox").is(':checked')
                var WaterHoseAvailability = $("#waterHoseCheckbox").is(':checked')
                var WaterSupplyConnection = $("#waterSupplyCheckbox").is(':checked')
                var PowerOutletAvailable = $("#outletCheckbox").is(':checked')

                sessionStorage.setItem("Additional", JSON.stringify({ AnyPetHair, WaterHoseAvailability, WaterSupplyConnection, PowerOutletAvailable }));
            }

            let saveCustomerInformation = () => {

                console.log("saved");

                var Name = $("#Customer_Name").val()
                var Email = $("#Customer_Email").val()
                var PhoneNumber = $("#Customer_PhoneNumber").val()
                var Address = $("#Customer_Address").val()

                sessionStorage.setItem("Customer", JSON.stringify({ "Customerfk": { Name, Email, PhoneNumber, Address } }));
            }
            let saveVehicleInformation = () => {
                let allVehicles = [];
                $('#vehicleList > a').each(function () {
                    var vehicleData = $(this).text().split(" - ");
                    let vehicleObj = {
                        Type: vehicleData[0],
                        NumSeats: vehicleData[1],
                        ServiceType: vehicleData[2],
                        Condition: vehicleData[3]
                    }
                    allVehicles.push(vehicleObj);
                });
                if (allVehicles.length != 0) {
                    sessionStorage.setItem("Vehicles", JSON.stringify({ "Vehicles": allVehicles }));
                    return true;
                } else {
                    return false;
                }
            }

            $("#addVehicleBtn").on('click', (e) => {
                e.preventDefault();
                $("#vehicleForm").validate();
                if ($("#vehicleForm").valid()) {
                    console.log("Hello");
                    var vehicleType = $("#Vehicle_Type").val()
                    var numSeats = $("#Vehicle_NumSeats").val()
                    var serviceType = $("#Vehicle_ServiceType").val()
                    var vehicleCondition = $("#Vehicle_Condition").val()

                    var vehicleListItem = $("<a></a>").text(vehicleType + " - " + numSeats + " - " + serviceType + " - " + vehicleCondition);
                    vehicleListItem.addClass("list-group-item list-group-item-action");
                    $("#vehicleList").append(vehicleListItem);
                    $("#vehicle-alert").hide();
                } else {
                    return;
                }

            });

            $("#vehicleList").on('click', 'a', function (e) {
                $(this).remove();
                if ($("#vehicleList > a").length <= 0) {
                    $("#vehicle-alert").show();
                }
            })

            $("#bookAppt").on('click', function (e) {
                e.preventDefault();
                console.log("HEllo")
                var DateSelected = $("#datepicker").val();
                if (DateSelected == "") {
                    $("#date-alert").show();
                    return;
                }
                sessionStorage.setItem("Date", JSON.stringify({ "Date": DateSelected }));

                const customer = sessionStorage.getItem("Customer");
                const vehicle = sessionStorage.getItem("Vehicles");
                const additional = sessionStorage.getItem("Additional");
                const date = sessionStorage.getItem("Date");

                const customerData = customer.substring(1, customer.length - 1)
                const vehicleData = vehicle.substring(1, vehicle.length - 1)
                const additionalData = additional.substring(1, additional.length - 1)
                const dateData = date.substring(1, date.length - 1)

                var apptData = '{' + customerData + ',' + vehicleData + ',' + additionalData + ',' + dateData + '}'
                console.log(apptData);
                $.ajax({
                    type: "POST",
                    url: "/appointments/book",
                    data: apptData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log("Success");
                        sessionStorage.clear();

                        bootbox.alert({
                            size: "medium",
                            title: "Booking Successful",
                            message: "Your booking is successful. A confirmation email has been sent to you.",
                            callback: function () {
                                window.location.href = "/"
                            }
                        })
                    },
                    failure: function (response) {
                        console.log("Hello")
                        bootbox.alert("Booking Unsuccessful");
                    },
                    error: function (response) {
                        console.log("Hello error")
                        console.log(response)
                        bootbox.alert(response);
                    }

                })
            })
        });
    </script>
}

