@model ProductListViewModel

<div class="text-center">
    <h1 class="display-4">Available Products</h1><br />
</div>

<div class="mc-nav">
    <div>
        <div class="text-center">
            <h3 class="mc-cat">Categories</h3>
        </div>
        <vc:navigation-menu />
    </div>

</div>

@foreach (var b in Model.Products)
{

    <div class="mc-products">
        @if (b.ProductImageName == null)
        {
            <img class="p-image" src="~/images/placeholder.png" />
        }
        else
        {
            <img class="p-image" src="~/images/@b.ProductImageName" />

        }
        <div class="mc-name">
            <h5>
                @b.ProductName
                <span class="badge badge-pill badge-primary" style="float:right; margin-top: 5px">
                    <small>@b.Price.ToString("c")</small>
                </span>
            </h5>
        </div>
        <div class="mc-desc">
            @b.description
        </div>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="Products" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-url-category="@Model.CurrentCategory" class="mc-page-button">

</div>


