@model IEnumerable<MrsCleanCapstone.Models.Deal>

@{
    ViewData["Title"] = "Manage Deals";
}

<section class="admin_container">
    <div class="admin_content">
        <div class="admin_content_title">
            <h3>Admin Panel</h3>
            <h2>Manage Deals</h2>
        </div>
        <div class="admin_data_cards">
            <div href="#" class="admin-data-card admin-add-card" id="admin-add-deal-card">
                <ion-icon name="add-outline" class="add-icon"></ion-icon>
            </div>
            @foreach (var item in Model)
            {
                <div href="#" class="admin-data-card">
                    <h3>@item.Title</h3>
                    <h4>@item.Highlight</h4>
                    <p>@item.Description</p>
                    <span class="link-text">
                        <a onclick="openEditModal('@item.Id', '@item.Title', '@item.Description', '@item.Highlight')" href="javascript:void(0)"><i class="material-icons">mode_edit</i></a>
                        <a onclick="deleteDeal('@item.Id')" href="javascript:void(0)"><i class="large material-icons">delete</i></a>
                    </span>
                </div>

            }
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="dealsModal" tabindex="-1" role="dialog" aria-labelledby="dealsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Manage deal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control mb-2" id="dealId" hidden />
                <label>Title: </label>
                <input type="text" class="form-control mb-2" id="dealTitle" value="" />
                <label>Description: </label>
                <input type="text" class="form-control mb-2" id="dealDescription" value="" />
                <label>Highlight: </label>
                <input type="text" class="form-control mb-2" id="dealHighlight" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script type="text/javascript">

        $("#admin-add-deal-card").on('click', function () {
            openAddModel();
        });

        function deleteDeal(id) {
            $.ajax({
                type: "POST",
                url: "/admin/deals/delete/"+id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log("Success");
                    window.location.reload();
                },
                failure: function (response) {
                    console.log("Hello")
                    alert(response);
                },
                error: function (response) {
                    console.log("Hello error")
                    console.log(response)
                    alert(response);
                }

            })
        }

        function openEditModal(id, title, description, highlight) {
            console.log(title);
            $("#dealId").val(id);
            $("#dealTitle").val(title);
            $("#dealDescription").val(description);
            $("#dealHighlight").val(highlight);
            $('#dealsModal').modal('show')
        }

        function openAddModel() {
            $("#dealId").val(0);
            $("#dealTitle").val("");
            $("#dealDescription").val("");
            $("#dealHighlight").val("");
            $('#dealsModal').modal('show')
        }

        function saveChanges() {
            var deal = {}
            deal.id = $("#dealId").val();
            deal.title = $("#dealTitle").val();
            deal.description = $("#dealDescription").val();
            deal.highlight = $("#dealHighlight").val();
            $.ajax({
                type: "POST",
                url: "/admin/deals/edit",
                data: JSON.stringify(deal),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log("Success");
                    window.location.reload();
                },
                failure: function (response) {
                    console.log("Hello")
                    alert(response);
                },
                error: function (response) {
                    console.log("Hello error")
                    console.log(response)
                    alert(response);
                }

            })
        }
    </script>
}