@model IEnumerable<MrsCleanCapstone.Models.Deal>

@{
    ViewData["Title"] = "Manage Deals";
}

<h1>Manage Deals</h1>
<section class="page-contain">
    @foreach (var item in Model)
    {
        <div href="#" class="admin-data-card">
            <h3>@item.Title</h3>
            <h4>@item.Highlight</h4>
            <p>@item.Description</p>
            <span class="link-text">
                <a onclick="openEditModal('@item.Id', '@item.Title', '@item.Description', '@item.Highlight')"><i class="material-icons">mode_edit</i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="large material-icons">delete</i></a>
            </span>
        </div>
    }
</section>

<!-- Modal -->
<div class="modal fade" id="dealsModal" tabindex="-1" role="dialog" aria-labelledby="dealsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body form-group">
                    <input type="text" class="form-control" id="dealId" hidden />
                    <input type="text" class="form-control" id="dealTitle" value="" />
                    <input type="text" class="form-control" id="dealDescription" value="" />
                    <input type="text" class="form-control" id="dealHighlight" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script type="text/javascript">
        function openEditModal(id, title, description, highlight) {
            console.log(title);
            $("#dealId").val(id);
            $("#dealTitle").val(title);
            $("#dealDescription").val(description);
            $("#dealHighlight").val(highlight);
            $('#dealsModal').modal('show')
        }

        function saveChanges() {
            var deal = {}
            deal.id = $("#dealId").val();
            deal.title = $("#dealTitle").val(title);
            deal.description = $("#dealDescription").val(description);
            deal.highlight = $("#dealHighlight").val(highlight);
            $.ajax({
                type: "POST",
                url: "/admin/deals/edit",
                data: JSON.stringify(deal),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log("fsdfsd");
                    alert("Hello: " + response.Name + ".\nCurrent Date and Time: " + response.DateTime);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }

            })
        }
    </script>
}